/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
li:hover {
  background-color: #6200ea;
}
.select-Question {
  background-color: #6200ea;
}

button {
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

.hidden {
  display: none;
}
p {
  margin-top: 1%;
}
.pass{
 color:rgb(151, 233, 151);
  padding: 2px;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: large;
}
.fail{
  
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(234, 9, 9);
  padding: 2px;
  font-size: large;
}

#question-label {
  font-size: small;
  color:aquamarine
}
#rules{
  text-align:left
}
#view-Questions{
  margin-top: 3%;
}